@import url('https://fonts.googleapis.com/css2?family=Mogra&family=Montserrat&display=swap');

:root {
  --white: #fff;
  --button: #3E396F;
  --hover-button: #4158B0;
  --hover-button-auto: #5e71bb;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  color: white;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
